.benefits-area-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 120px 100px 120px 200px;
    background-image: url(../../assets/bg-benefits.svg);
    background-size: cover;
}

.benefits-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
}