.feedback-area-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 120px 0 120px 200px;
    align-content: center;
    background-image: url(../../assets/bg-feedback.svg);
    background-size: cover;
}

.feedback-wrapper{
    display: flex;
}