.service-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: #fff;
    border-radius: 15px;
    padding: 40px;
}

.service-type {
    width: 100%;
    text-align: left;
}

.service-price {
    font-size: 36px;
    font-weight: bold;
}

.service-type {
    font-size: 28px;
    font-weight: bold;
}

.service-details {
    margin: 0;
}
@media (max-width:450px){
    .service-item-container{
        width:100%;
        padding:20px;
    }
    .service-icon{
        width:100px;
    }
    .service-price{
        font-size:24px;
    }
    .service-type{
        font-size:16px;
    }

}