body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9DF5C;


}

* {
  box-sizing: border-box;
}

.fucking-line{
  position: absolute;
  background-image: url(../src/assets/bullshitlineee.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1000;
  width:100%;
  height: 220%;
  top:190%;
  left:0;
}